

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <title></title>
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <form method="POST" action="/people/save" id="addForm">
            <input type="text" class="form-control" placeholder="Name" name="name" />
            <input type="text" class="form-control" placeholder="Address" name="address" />
            <button class="btn btn-danger">Save</button>
        </form>
    </div>
</body>
</html>